#A {
    display: left;
}


#customer-clicks ul {
    font-size: medium;
    display:flex;
    flex-direction: column;
}

#left_product {
    font-size: medium;
    display:flex;
    flex-direction: column;
}

#middle_product {
    font-size: medium;
    display:flex;
    flex-direction: column;
}

#right_product {
    font-size: medium;
    display:flex;
    flex-direction: column;
}

#left-product-img {
    margin-top: 20px;
    width: 70%;
}

#middle-product-img {
    margin-top: 20px;
    width: 70%;
}

#right-product-img {
    margin-top: 20px;
    width: 70%;
}