#A {
    background-color: #ff9999;
    border: black solid 2px;
}
  
#B {
    background-color: #ffb399;
    border: black solid 2px;
}
  
#C {
    background-color: #ffcc99;
    border: black solid 2px;
}
  
#D {
    background-color: #ffe699;
    border: black solid 2px;
}
  
#E {
    background-color: #ffff99;
    border: black solid 2px;
}
  
#F {
    background-color: #e6ff99;
    border: black solid 2px;
}
  
#G {
    background-color: #ccff99;
    border: black solid 2px;
}
  
#H {
    background-color: #b3ff99;
    border: black solid 2px;
}




